<?xml version="1.0" encoding="utf-8"?>

<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'WebRTC' in resource group 'Group-4' -->
  <InstrumentationKey>ceca8bed-b8e1-4c2a-a8b1-2752dfbbbe5c</InstrumentationKey>
</ApplicationInsights>